.container{
    margin: auto;
    width: 70%;
}

.logo{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
}

.logo img{
    width: 20%;
    margin-top: 50px;
}

a{
    color: #33b0e7;
}

h1{
    font-size: 48px;
    margin: 0%;
    padding-top: 1%;
}

.Scritto_da{
    color: grey;
    padding-bottom: 1%;
}

.date{
    font-size: 12px;
}

#tim #infophoto{
    padding-top: 2%;
    text-align: center;
}

.lorem{
    font-size: 20px;
}

.evidenziatore{
    background-color: yellow;
}

ul{
    font-size: 20px;
    padding-left: 1.5%;
}
