body {
  background-image: url(img/stick.gif);
  background-size: cover;
  font-family: "Comic Neue", cursive;
}

.container {
  margin: auto;
  width: 70%;
}

.logo {
  background-image: url(img/richard.gif);
  background-color: #4ea0ff;
}

.logo img {
  width: 20%;
  margin-top: 50px;
}

a {
  color: #33b0e7;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  margin: 0%;
  padding-top: 1%;
}

.scritto_da {
  color: grey;
  padding-bottom: 1%;
}

.date {
  font-size: 12px;
}

#tim #infophoto {
  padding-top: 2%;
}

.lorem {
  font-size: 20px;
}

.evidenziatore {
  background-color: yellow;
}

ul {
  font-size: 20px;
  padding-left: 1.5%;
}

.cella {
  width: 25%;
}

th {
  text-align: left;
}

thead {
  background-color: #20a9e5;
  color: white;
}

.odd-row {
  background-color: #b1e5f2;
}

table {
  margin-top: 2%;
  border-collapse: collapse;
  font-size: 20px;
}

#monitor {
  background-image: url("img/pingu.gif");
}

#graph {
  background-image: url("img/hypno.gif");
  text-align: center;
}

.img-footer {
  width: 250px;
  height: 200px;
}

h3 {
  color: grey;
  margin-top: 1%;
}

h2 {
  color: white;
}
